.main {
  margin: 35px 0 10px;
  display: flex;
  justify-content: center;
}

button{
  height: 40px;
  width: 250px;
  background-color: #D6D6DA;
  font-size: 16px;
  font-weight: 500;
  border: none;
  margin: -5px; 
  padding: 0;
  outline: none;
  &:hover {
    background: #457a9d;
    color: #FFF;
  }
}

.multiButton :first-child {
  border-radius: 20px 0 0 20px;
}
.multiButton :last-child {
  border-radius: 0 20px 20px 0;
}

.active {
  background-color: #457a9d;
  color: #FFF;
  transition: all ease 0.2s;
}