.main {
    height: 50px;
    display: flex;
    align-items: center;
    margin: 0 40px;

    .arrow {
        margin: 0 5px;

        &:hover {
            cursor: pointer;
            transform: scale(1.2);
        }
    }

    h1 {
        font-size: 20px;
        text-transform: uppercase;
        margin-right: auto;
        padding-left: 5px;

        &:hover {
            cursor: pointer;
            color: #457a9d;
        }
    }

    @media(max-width: 1024px) {
        & {
            padding: 0px 20px;

            .main {
                width: auto
            }
        }
    }

    @media(max-width: 767px) {

        .main {
            height: 100%;

            h1 {
                font-size: 17px;
            }

            p {
                font-size: 14px
            }
        }
    }
}